@charset "UTF-8"
@import compass/css3

html, body
  font-family: 'Noto Sans', 'Noto Sans T Chinese', '微軟正黑體', sans-serif
  color: #333
  font-size: 20px

//html, body, div, nav, section, article, header, footer, h1, h2, h3, h4, p
  //font-weight: bold

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4
  margin: 0
  padding: 0
  line-height: 1em
  +box-sizing(border-box)

html, body
  background-color: #efefef

p
  line-height: 1.5em

a, a:link
  text-decoration: none
  color: inherit

//.hidden
//  display: none

.no.margin
  margin: 0

.float.right
  float: right

.float.left
  float: left

.align.center
  text-align: center

.clear.both
  clear: both

.page.wrapper
  max-width: 1200px
  margin-left: auto
  margin-right: auto

.menu.bar
  max-width: 1200px
  margin-left: auto
  margin-right: auto
  +border-radius(0)
  +box-shadow(none)

#topbar
  position: fixed
  left: 0
  right: 0
  top: 0
  background-color: #333
  z-index: 10
  .ui.menu
    margin-bottom: 0
    .item
      font-size: 1rem
      .avatar.image
        margin-top: -0.8em 
        margin-bottom: -0.8em 
    .logo.image
      height: 1rem
      //-margin: -1rem 0.5rem -0.1rem 0
      display: inline

#content
  padding: 3rem 0 5rem 0
  .product
    .right.label
      .icon
        margin: 0 0 0 0.5em
    .image
      //width: 6rem
      height: 10rem
      overflow: hidden
      //float: left
      img
        //-max-width: 6rem
        //max-height: 6rem
    .list
      //margin-left: 7rem
      //.item:after
        clear: none
    .header
      margin-top: 0
      .label
        position: relative
        top: -0.17rem
        .icon
          margin: 0
    .number
      margin: 0 0.5rem
    .price
      font-size: 1.5em
      color: blue
    .amount
      font-size: 1.2em
      color: green
    .dropdown
      z-index: 5
      .menu
        margin-bottom: 3rem
  .receipt
    .image
      max-height: 10rem
      overflow: hidden
    .ui.list
      margin-top: 0
    .title
      margin-top: 1rem
      margin-bottom: 0
      border-bottom: 1px #999 solid
      font-weight: bold
      padding: 0.3em 0
    .item:first-child
      padding-top: 0.3em
    .item:last-child
      padding-bottom: 0.3em
    .active.item
      background-color: yellow

#bottombar
  background-color: #333
  position: fixed
  left: 0
  right: 0
  bottom: 0
  z-index: 10
  .ui.menu


#music, #news, #lesson, #download
  padding: 1rem 0
  #header
    height: 8rem
    margin: -1rem 0 1rem 0
    .header
      text-align: center

#lesson
  #header
    background-color: #369
  .download.section
    text-align: center
    padding: 1rem
    margin: 0 -1rem -0.5rem -1rem
    background-color: #eee
  .placeholder
    margin-top: 2.5rem!important
  .ui.top.attached.label
    text-align: center
    h3
      .title
        padding: 0.5rem 0
        display: inline-block
  .ui.grid
    margin-top: 0.5rem
  .list
    .item
      .link
        margin-left: 0.5rem
