@charset "UTF-8"
@import compass/css3

html, body
  font-family: 'Noto Sans', 'Noto Sans T Chinese', '微軟正黑體', sans-serif
  color: #333
  font-size: 20px

//html, body, div, nav, section, article, header, footer, h1, h2, h3, h4, p
  //font-weight: bold

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4
  margin: 0
  padding: 0
  line-height: 1em
  +box-sizing(border-box)

html, body
  background-color: #efefef

p
  line-height: 1.5em

a, a:link
  text-decoration: none
  color: inherit

//.hidden
//  display: none

.no.margin
  margin: 0

.float.right
  float: right

.float.left
  float: left

.align.center
  text-align: center

.clear.both
  clear: both

.page.wrapper
  max-width: 1200px
  margin-left: auto
  margin-right: auto

.menu.bar
  max-width: 1200px
  margin-left: auto
  margin-right: auto
  +border-radius(0)
  +box-shadow(none)

$phone: 560px
$tablet: 840px
$laptop: 1024px

.desktop, .laptop, .tablet, .phone
  display: none

@media screen and (min-width: $laptop)
  .desktop
    display: initial
@media screen and (max-width: $laptop) and (min-width: $tablet)
  .laptop
    display: initial
@media screen and (max-width: $tablet) and (min-width: $phone)
  .tablet
    display: initial
@media screen and (max-width: $phone)
  .phone
    display: initial

#topbar
  position: fixed
  left: 0
  right: 0
  top: 0
  background-color: #333
  z-index: 10
  .ui.menu
    margin-bottom: 0
    .item
      font-size: 1rem
      .avatar.image
        margin-top: -0.8em 
        margin-bottom: -0.8em 
    .logo.image
      height: 1rem
      //-margin: -1rem 0.5rem -0.1rem 0
      display: inline

#bottombar
  background-color: #333
  position: fixed
  left: 0
  right: 0
  bottom: 0
  z-index: 10

.dropdown
  z-index: 5
  .menu
    margin-bottom: 3rem

#content
  padding: 3rem 0 5rem 0
  .product
    .right.label
      .icon
        margin: 0 0 0 0.5em
    .image
      //width: 6rem
      height: 10rem
      overflow: hidden
      //float: left
      img
        //-max-width: 6rem
        //max-height: 6rem
    .list
      //margin-left: 7rem
      //.item:after
        clear: none
    .header
      margin-top: 0
      .label
        position: relative
        top: -0.17rem
        .icon
          margin: 0
    .number
      margin: 0 0.5rem
    .price
      font-size: 1.5em
      color: blue
    .amount
      font-size: 1.2em
      color: green
  .receipt
    .image
      max-height: 10rem
      overflow: hidden
    .ui.list
      margin-top: 0
    .title
      margin-top: 1rem
      margin-bottom: 0
      border-bottom: 1px #999 solid
      font-weight: bold
      padding: 0.3em 0
    .item:first-child
      padding-top: 0.3em
    .item:last-child
      padding-bottom: 0.3em
    .active.item
      background-color: rgba(orange,0.1)

#header
  height: 10rem
  margin-top: 2.6rem
  position: relative
  +background(image-url("http://static.ettoday.net/images/173/d173736.jpg") repeat-x center bottom, rgba(#666,1))
  .background
    text-overflow: clip
    white-space: nowrap
    text-align: center
    .image
      height: 10rem
      display: inline
  .cover
    position: absolute
    top: 0
    bottom: 0
    width: 100%
    color: #fff
    +background-image(linear-gradient(rgba(#000,0.2), rgba(#000,0.2) 30%, rgba(#000,0.5)))
    .content
      text-align: center
      position: absolute
      bottom: 1rem
      width: 100%
      h1
        padding-left: 1rem
        font-size: 3rem
        letter-spacing: 0.3em

#nav
  background-color: rgba(#ccc, 1)
  .category
    background-color: rgba(#fff, 0.5)
    padding: 0.5rem

#action
  background-color: #fff
  padding: 1rem
  margin-bottom: 1rem
  .item
    .key
      float: left
    .value
      margin-left: 4rem
      padding-top: 0.3em

#meta
  padding-bottom: 4rem
  .image
    .top.label
      background-color: rgba(#000, 0.5)
      color: #fff
  .list
    padding-left: 1rem
  .label
    .icon:last-child
      margin: 0 0 0 0.75em
    .icon:first-child
      margin: 0 0.75em 0 0
#log
  padding-top: 1.2rem
  padding-bottom: 4rem
  .header
    font-size: 1.2rem
  .timestamp
    font-size: 1rem
    .number
      margin: 0 0.1rem
