extends level-one

block head

block title
  | 預購 | 

block content

  #content.page.wrapper
    #filter.ui.secondary.pointing.menu
      a.item 推薦
        .ui.pink.tiny.label 10
      a.item 團購中
        .ui.purple.tiny.label 20
      a.item.all 穀麥
      a.item.all 蔬菜
      a.item.all 水果
      a.item.all 肉類
      a.item.all 水產
      .right.menu
        .item
          .ui.icon.input.transparent
            input(placeholder="搜尋...",type="text")
            i.icon.search.link

    #list.ui.two.column.stackable.grid
      .column
        .ui.pink.segment
          .ui.pink.message 較少人訂貨，歡迎預購！
          a.ui.label.float.right(href='') 生產日記
            span.number farmer-product-date
            i.icon.right.arrow
          h2.ui.header 糙米
            a.ui.circular.label(href='receipt')
              i.icon.food
          .ui.divider
          .ui.image
            img(src='http://static.ettoday.net/images/173/d173736.jpg')
          .ui.divided.list
            .item
              .ui.horizontal.black.label 農夫
              | 高村長
            .item
              .ui.horizontal.black.label 耕地
              | 新天龍國外星語言區 4 號地
            .item
              .ui.horizontal.red.label 預定收成
              | 2015/2 (三週後)
          p
            i.icon.info
            | 需冷藏保存，並在採收後 180 天內享用
          .ui.divider
          p 售價
            span.price.number NT$ 50
            | 元，剩餘
            span.amount.number 100
            | 份（每份 200 公克）
          .ui.purple.message 您的菜市正在預約團購！再 1 份可湊滿一箱
          .ui.selection.simple.dropdown
            input(name='份數',type='hidden')
            .default.text 份數
            i.icon.dropdown
            .menu
              .item(data-value='1') 1 份
              .item(data-value='2') 2 份
              .item(data-value='3') 3 份
              .item(data-value='4') 4 份
              .item(data-value='5') 5 份
              .item(data-value='6') 6 份
          .ui.icon.labeled.purple.basic.button 加入預約團購
            i.icon.add
      .column
        .ui.purple.segment
          a.ui.label.float.right(href='') 生產日記
            span.number farmer-product-date
            i.icon.right.arrow
          h2.ui.header 地瓜葉
            a.ui.circular.label(href='receipt')
              i.icon.food
          .ui.divider
          .ui.image
            img(src='http://blufiles.storage.live.com/y1pX6mVV-vrjX69KMOiG_aprByZhdmel-urs5zB0Wvx09gUQoSEU2yd2Ct_tLyWLuYYgWntakXWKCU')
          .ui.divided.list
            .item
              .ui.horizontal.black.label 農夫
              | 謝老闆
            .item
              .ui.horizontal.black.label 耕地
              | 醫龍國外星語言區 1 號地
            .item
              .ui.horizontal.red.label 預定收成
              | 2015/2 (三週後)
          p
            i.icon.info
            | 需冷藏保存，並在採收後 10 天內享用
          .ui.divider
          p 售價
            span.price.number NT$ 50
            | 元，剩餘
            span.amount.number 10
            | 份（每份 200 公克）
          .ui.purple.message 您的菜市正在預約團購！再 1 份可湊滿一箱
          .ui.selection.simple.dropdown
            input(name='份數',type='hidden')
            .default.text 份數
            i.icon.dropdown
            .menu
              .item(data-value='1') 1 份
              .item(data-value='2') 2 份
              .item(data-value='3') 3 份
              .item(data-value='4') 4 份
              .item(data-value='5') 5 份
              .item(data-value='6') 6 份
          .ui.icon.labeled.purple.basic.button 加入預約團購
            i.icon.add
      .column
        .ui.pink.segment
          .ui.pink.message 較少人訂貨，歡迎預購！
          a.ui.label.float.right(href='') 生產日記
            span.number farmer-product-date
            i.icon.right.arrow
          h2.ui.header 空心菜
            a.ui.circular.label(href='receipt')
              i.icon.food
          .ui.divider
          .ui.image
            img(src='http://a.blog.xuite.net/a/b/3/6/13809829/blog_122389/txt/6942769/1.jpg')
          .ui.divided.list
            .item
              .ui.horizontal.black.label 農夫
              | 張老闆
            .item
              .ui.horizontal.black.label 耕地
              | 天龍國外星語言區 2 號地
            .item
              .ui.horizontal.red.label 預定收成
              | 2015/2 (三週後)
          p
            i.icon.info
            | 需冷藏保存，並在採收後 10 天內享用
          .ui.divider
          p 售價
            span.price.number NT$ 50
            | 元，剩餘
            span.amount.number 100
            | 份（每份 200 公克）
          .ui.selection.simple.dropdown
            input(name='份數',type='hidden')
            .default.text 份數
            i.icon.dropdown
            .menu
              .item(data-value='1') 1 份
              .item(data-value='2') 2 份
              .item(data-value='3') 3 份
              .item(data-value='4') 4 份
              .item(data-value='5') 5 份
              .item(data-value='6') 6 份
          .ui.icon.labeled.black.basic.button 開啟預約團購
            i.icon.asterisk
      .column
        .ui.segment
          a.ui.label.float.right(href='') 生產日記
            span.number farmer-product-date
            i.icon.right.arrow
          h2.ui.header 玉米
            a.ui.circular.label(href='receipt')
              i.icon.food
          .ui.divider
          .ui.image
            img(src='http://e.blog.xuite.net/e/5/c/b/11688571/blog_840904/txt/64699656/12.jpg')
          .ui.divided.list
            .item
              .ui.horizontal.black.label 農夫
              | 呂小華
            .item
              .ui.horizontal.black.label 耕地
              | 天龍國外星語言區 3 號地
            .item
              .ui.horizontal.red.label 預定收成
              | 2015/2 (三週後)
          p
            i.icon.info
            | 需冷藏保存，並在採收後 10 天內享用
          .ui.divider
          p 售價
            span.price.number NT$ 50
            | 元，剩餘
            span.amount.number 10
            | 份（每份 200 公克）
          //-.ui.purple.message 您的菜市正在預約團購！再 1 份可湊滿一箱
          .ui.selection.simple.dropdown
            input(name='份數',type='hidden')
            .default.text 份數
            i.icon.dropdown
            .menu
              .item(data-value='1') 1 份
              .item(data-value='2') 2 份
              .item(data-value='3') 3 份
              .item(data-value='4') 4 份
              .item(data-value='5') 5 份
              .item(data-value='6') 6 份
          //-span.text 總計 100 元
          .ui.icon.labeled.black.basic.button 開啟預約團購
            i.icon.asterisk

block script
  script.
    $('#filter .pink.label').parent('.item').on('click tap', function(){
      $('#list .column').hide();
      $('#list .pink.segment').parent('.column').fadeIn();
    });
    $('#filter .purple.label').parent('.item').on('click tap', function(){
      $('#list .column').hide();
      $('#list .purple.message').parents('.column').fadeIn();
    });
    $('#filter .all').on('click tap', function(){
      $('#list .column').fadeIn();
    });

    $("#topbar a[href*='book']").addClass("active");
    $('#filter .purple.label').parent('.item').click();