extends level-one

block head

block title
  | 馬上買 | 

block content

  #content.page.wrapper
    .ui.secondary.pointing.menu
      a.item(href='') 需要支持
        .ui.yellow.tiny.label 10
      a.item(href='') 穀麥
        .ui.teal.tiny.label 10
      a.item(href='') 蔬菜
        .ui.teal.tiny.label 10
      a.item(href='') 水果
        .ui.teal.tiny.label 10
      a.item(href='') 肉類
        .ui.teal.tiny.label 10
      a.item(href='') 水產
        .ui.teal.tiny.label 10
      .right.menu
        .item
          .ui.icon.input.transparent
            input(placeholder="搜尋...",type="text")
            i.icon.search.link

    .ui.two.column.stackable.grid
      .column
        .ui.teal.segment
          a.ui.label.float.right(href='') 生產日記
            span.number farmer-product-date
            i.icon.right.arrow
          h2.ui.header 地瓜葉
          .ui.divider
          .ui.image
            img(src='http://blufiles.storage.live.com/y1pX6mVV-vrjX69KMOiG_aprByZhdmel-urs5zB0Wvx09gUQoSEU2yd2Ct_tLyWLuYYgWntakXWKCU')
          .ui.divided.list
            .item
              .ui.horizontal.black.label 農夫
              | 謝老闆
            .item
              .ui.horizontal.black.label 耕地
              | 天龍國外星語言區 1 號地
            .item
              .ui.horizontal.black.label 收成
              | 2015/1/1 (今天)
          .ui.divider
          p 每份
            span.price.number NT$ 50
            | 元，剩餘
            span.amount.number 10
            | 份
          .ui.teal.message 菜市團購中！再 1 份可湊滿一箱
          .ui.selection.simple.dropdown
            input(name='份數',type='hidden')
            .default.text 份數
            i.icon.dropdown
            .menu
              .item(data-value='1') 1 份
              .item(data-value='2') 2 份
              .item(data-value='3') 3 份
              .item(data-value='4') 4 份
              .item(data-value='5') 5 份
              .item(data-value='6') 6 份
          .ui.icon.labeled.teal.button 加入團購
            i.icon.add
      .column
        .ui.yellow.segment
          a.ui.label.float.right(href='') 生產日記
            span.number farmer-product-date
            i.icon.right.arrow
          h2.ui.header 空心菜
          .ui.divider
          .ui.image
            img(src='http://a.blog.xuite.net/a/b/3/6/13809829/blog_122389/txt/6942769/1.jpg')
          .ui.divided.list
            .item
              .ui.horizontal.black.label 農夫
              | 張老闆
            .item
              .ui.horizontal.black.label 耕地
              | 天龍國外星語言區 2 號地
            .item
              .ui.horizontal.black.label 收成
              | 2015/1/1 (今天)
          .ui.divider
          p 每份
            span.price.number NT$ 50
            | 元，剩餘
            span.amount.number 100
            | 份
          .ui.yellow.message 滯銷中，請多多支持！
          .ui.selection.simple.dropdown
            input(name='份數',type='hidden')
            .default.text 份數
            i.icon.dropdown
            .menu
              .item(data-value='1') 1 份
              .item(data-value='2') 2 份
              .item(data-value='3') 3 份
              .item(data-value='4') 4 份
              .item(data-value='5') 5 份
              .item(data-value='6') 6 份
          .ui.icon.labeled.blue.button 開啟團購
            i.icon.asterisk
      .column
        .ui.segment
          a.ui.label.float.right(href='') 生產日記
            span.number farmer-product-date
            i.icon.right.arrow
          h2.ui.header 玉米
          .ui.divider
          .ui.image
            img(src='http://e.blog.xuite.net/e/5/c/b/11688571/blog_840904/txt/64699656/12.jpg')
          .ui.divided.list
            .item
              .ui.horizontal.black.label 農夫
              | 呂小華
            .item
              .ui.horizontal.black.label 耕地
              | 天龍國外星語言區 3 號地
            .item
              .ui.horizontal.black.label 收成
              | 2015/1/1 (今天)
          .ui.divider
          p 每份
            span.price.number NT$ 50
            | 元，剩餘
            span.amount.number 10
            | 份
          //-.ui.teal.message 菜市團購中！再 1 份可湊滿一箱
          .ui.selection.simple.dropdown
            input(name='份數',type='hidden')
            .default.text 份數
            i.icon.dropdown
            .menu
              .item(data-value='1') 1 份
              .item(data-value='2') 2 份
              .item(data-value='3') 3 份
              .item(data-value='4') 4 份
              .item(data-value='5') 5 份
              .item(data-value='6') 6 份
          //-span.text 總計 100 元
          .ui.icon.labeled.blue.button 開啟團購
            i.icon.asterisk

block script
  script.
    $("#topbar a[href*='index']").addClass("active");
