extends level-one

block head

block title
  | 馬上買 | 

block content

  #content.page.wrapper
    .ui.secondary.pointing.menu
      a.item(href='') 穀麥
        .ui.green.tiny.label 10
      a.item(href='') 蔬菜
        .ui.green.tiny.label 10
      a.item(href='') 水果
        .ui.green.tiny.label 10
      a.item(href='') 肉類
        .ui.green.tiny.label 10
      a.item(href='') 水產
        .ui.green.tiny.label 10
      .right.menu
        .item
          .ui.icon.input.transparent
            input(placeholder="搜尋...",type="text")
            i.icon.search.link

    .ui.two.column.stackable.grid
      .column
        .ui.green.segment
          //-.ui.green.top.attached.label 商品編號 hlb-ooooo-20150101
          //-span.float.right 剩餘數量 10
          h2.ui.header 地瓜葉
            .ui.label.float.right 商品編號 hlb-ooooo-20150101
          .ui.divider
          .ui.image
            img(src='http://blufiles.storage.live.com/y1pX6mVV-vrjX69KMOiG_aprByZhdmel-urs5zB0Wvx09gUQoSEU2yd2Ct_tLyWLuYYgWntakXWKCU')
          .ui.divided.list
            .item
              .ui.horizontal.black.label 農夫
              | 謝老闆
            .item
              .ui.horizontal.black.label 耕地
              | 天龍國外星語言區 1 號地
            .item
              .ui.horizontal.black.label 收成
              | 2015/1/1 (今天)
          .ui.divider
          p 每份 
            span.price 50
            |  元，剩餘 
            span.amount 10
            |  份
          .ui.green.message 菜市團購中！再 1 份可湊滿一箱
          .ui.selection.simple.dropdown
            input(name='份數',type='hidden')
            .default.text 份數
            i.icon.dropdown
            .menu
              .item(data-value='1') 1 份
              .item(data-value='2') 2 份
              .item(data-value='3') 3 份
              .item(data-value='4') 4 份
              .item(data-value='5') 5 份
              .item(data-value='6') 6 份
          //-span.text 總計 100 元
          .ui.blue.icon.labeled.button 加入團購
            i.icon.add

block script
  script.
    $("#topbar a[href*='index']").addClass("active");
