extends level-one

block head

block title
  | 生產日記：高村長無毒糙米 2015 第一期 | 

block content

  header#header
    .background
      img.ui.image(src="")
    .cover
      .content.page.wrapper
        h1 高村長無毒糙米
        p 2015 年第一期
  nav#nav
    .category.page.wrapper
      a(href='buy').ui.label
        i.icon.left.arrow
        span 回上一頁
      a(href='buy').ui.label
        i.icon.leaf
        span 鼓麥
      a(href='buy').ui.label
        i.icon.user
        span 高村長
      a(href='buy').ui.label
        i.icon.marker
        span 新天龍國
  .page.wrapper
    #action
      .ui.two.column.stackable.divided.grid
        .column
          .ui.divided.list
            .item
              .key
                .ui.horizontal.black.label 編號
              .value farmer-product-date
            .item
              .key
                .ui.horizontal.black.label 品名
              .value 高村長無毒糙米
            .item
              .key
                .ui.horizontal.black.label 梯次
              .value 2015 年第一期
            .item
              .key
                .ui.horizontal.black.label 產地
              .value 新天龍國外星語言區 4 號地
            .item
              .key
                .ui.horizontal.black.label 下苗
              .value 2014/4/1 (9 個月前)
            .item
              .key
                .ui.horizontal.black.label 收成
              .value 2015/1/1 (今天)
        .column
          .buy
            i.icon.info
            span 冷藏保存，採收後 180 天內享用（2015/7/1 前）
          .ui.yellow.message 較少人訂貨，請多多支持！
          .ui.teal.message 您的菜市正在團購！再 1 份可湊滿一箱
          .ui.selection.dropdown
            input(name='份數',type='hidden')
            .default.text 份數
            i.icon.dropdown
            .menu
              .item(data-value='1') 1 份
              .item(data-value='2') 2 份
              .item(data-value='3') 3 份
              .item(data-value='4') 4 份
              .item(data-value='5') 5 份
              .item(data-value='6') 6 份
          .ui.icon.labeled.teal.button 加入團購
            i.icon.add
    .ui.two.column.stackable.divided.grid
      #meta.four.wide.column
        .ui.rounded.image
          img(src='https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/1898286_10152222765925668_1124876651_n.jpg?oh=38b6e6bbf3a886de7b85bd3a22786b5c&oe=554DAEA2&__gda__=1435143340_74a17ab95f53cca8146a24b2c35e5c94')
          .ui.top.attached.label
            i.icon.user
            span 農夫　高村長　嘉良
        .ui.divided.list
          .item 2014 年 1 月加入友善耕作
          .item 2012 擔任 g0v 新手村村長
          .item 2002 台大資工系蹺業
        .ui.list
          .item
            a(href='').ui.label
              i.icon.facebook
              span 高村長的臉書
              i.icon.forward.mail
          .item
            a(href='').ui.label
              i.icon.twitter
              span 高村長的推特
              i.icon.forward.mail
          .item
            a(href='').ui.label
              i.icon.book
              span 高村長的所有生產日記
              i.icon.right.arrow

      #log.twelve.wide.column
        //-.timestamp.ui.divided.inverted.list
          .year.item
            span.number.large 2015
            span.text 年
          .month.item
            span.number 1
            span.text 月
            span.number 1
            span.text 日
          .day.item
            span.number 星期一
        h2.ui.top.attached.header 收割
          span.timestamp.float.right
              span.number 2015
              span.text 年
              span.number 1
              span.text 月
              span.number 1
              span.text 日
              span.number 星期一
        article.diary.ui.attached.segment
          .ui.small.rounded.bordered.images
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
          p 出牌不按牌理，或許有可乘之機。收割不按稻理，只會賠上割稻機。
        h2.ui.top.attached.header 除蟲
          span.timestamp.float.right
              span.number 2014
              span.text 年
              span.number 12
              span.text 月
              span.number 1
              span.text 日
              span.number 星期一
        article.diary.ui.attached.segment
          .ui.small.rounded.bordered.images
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
          p 樹大，必有枯枝。人多，必有白癡。稻熟，必有蟲愛吃。
        h2.ui.top.attached.header 施肥
          span.timestamp.float.right
              span.number 2014
              span.text 年
              span.number 11
              span.text 月
              span.number 1
              span.text 日
              span.number 星期一
        article.diary.ui.attached.segment
          .ui.small.rounded.bordered.images
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
          p 煮稻燃稻萁，稻在釜中泣。本是盤中飧，相煎何太急。
        h2.ui.top.attached.header 除蟲
          span.timestamp.float.right
              span.number 2014
              span.text 年
              span.number 10
              span.text 月
              span.number 1
              span.text 日
              span.number 星期一
        article.diary.ui.attached.segment
          .ui.small.rounded.bordered.images
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
          p 講個除蟲的秘訣：在講除蟲的秘訣之前，先講講個除蟲的秘訣，再講除蟲的秘訣。
        h2.ui.top.attached.header 施肥
          span.timestamp.float.right
              span.number 2014
              span.text 年
              span.number 9
              span.text 月
              span.number 1
              span.text 日
              span.number 星期一
        article.diary.ui.attached.segment
          .ui.small.rounded.bordered.images
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
            img(src='https://c1.staticflickr.com/1/122/297896890_569a9ceb52_b.jpg')
          p 好！

block script
  script.
    $("#topbar a[href*='buy']").addClass("active");
