extends level-one

block head

block title
  | 料理指南 | 

block content

  #content.page.wrapper
    #filter.ui.secondary.pointing.menu
      a.item 上週食材
        .ui.tiny.label 10
      a.item 本週食材
        .ui.green.tiny.label 10
      a.item 我的最愛
        .ui.yellow.tiny.label 10
      a.item 穀麥
      a.item 蔬菜
      a.item 水果
      a.item 肉類
      a.item 水產
      .right.menu
        .item
          .ui.icon.input.transparent
            input(placeholder="搜尋...",type="text")
            i.icon.search.link
    #tag
      a.ui.tag.label 地瓜葉
        .detail 10
      a.ui.tag.label 糙米
        .detail 10
      a.ui.tag.label 空心菜
        .detail 10
      a.ui.tag.label 玉米
        .detail 10
    .ui.divider
    #list.ui.two.column.stackable.grid
      .column
        .ui.list
          .item 地瓜葉
          .item 地瓜葉
          .item 地瓜葉
          .item 地瓜葉


block script
  script.
    $("#topbar a[href*='food']").addClass("active");
    $('#filter .green.label').parent('.item').click();
