extends _template

block body

  nav#topbar
    .ui.borderless.menu.bar.inverted
      a.item(href="index")
        | 好食市集
        //-img.logo.image(src="img/logo-white.png")
        //-span.logo.text 　
      a.item(href="buy")
        | 馬上買
      a.item(href="order")
        | 預購
      .right.menu
        .item
          .ui.icon.input.inverted.transparent
            input(placeholder="搜尋...",type="text")
            i.icon.search.link
        //-a.item(href="download")
          | 下載
          i.icon.download
        a.item(href="")
          | 登入
          i.icon.sign.in
        block topbar

  block content

  footer#bottombar
    .ui.borderless.menu.bar.inverted
      a.item(href="")
        i.icon.info
        | 關於本計畫
      a.item(href="")
        i.icon.github
        | 關於本站
      .right.menu
        a.ui.button.item(target="_blank",href="") 好食機
          i.icon.forward.mail
        a.ui.button.item(target="_blank",href="") 愛樂活
          i.icon.forward.mail
