extends _template

block body

  nav#topbar
    .ui.borderless.menu.bar.inverted
      a.item(href="index")
        | 好食市集
        //-img.logo.image(src="img/logo-white.png")
        //-span.logo.text 　
      //-a.item(href="buy")
        | 馬上買
      a.item(href="book")
        | 預購
      .right.menu
        a.item 本週菜籃
          .ui.right.green.label 10
        .ui.simple.dropdown.item
          .ui.image.avatar
            img(src="https://pbs.twimg.com/profile_images/93787198/etb2006.jpg")
          | ETBlue
          i.icon.dropdown
          .menu
            //-a.item 菜籃
              .ui.right.blue.label 10
            a.item 我的菜市
            a.item 我的菜籃
            a.item 登出
        //-a.item(href="")
          | 登入
          i.icon.sign.in
        block topbar

  block content

  footer#bottombar
    .ui.borderless.menu.bar.inverted
      a.item(href="")
        i.icon.info
        | 關於本計畫
      a.item(href="")
        i.icon.github
        | 關於本站
      .right.menu
        a.ui.button.item(target="_blank",href="") 好食機
          i.icon.forward.mail
        a.ui.button.item(target="_blank",href="") 好食光
          i.icon.forward.mail
        a.ui.button.item(target="_blank",href="") 愛樂活
          i.icon.forward.mail
