extends food

block head

block title
  | 地瓜葉 | 

block content

  #content.page.wrapper
    a.ui.button(href='food') 回食材列表
    h2.ui.header 地瓜葉
    h3 保存方式
    h3 賞味期限
    h3 食譜
    p 接 icook / dodocook

block script
  script.
    $("#topbar a[href*='food']").addClass("active");
