@charset "UTF-8";
html, body {
  font-family: "Noto Sans", "Noto Sans T Chinese", "微軟正黑體", sans-serif;
  color: #333333;
  font-size: 20px;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #efefef;
}

p {
  line-height: 1.5em;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

.no.margin {
  margin: 0;
}

.float.right {
  float: right;
}

.float.left {
  float: left;
}

.align.center {
  text-align: center;
}

.clear.both {
  clear: both;
}

.page.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.menu.bar {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.desktop, .laptop, .tablet, .phone {
  display: none;
}

@media screen and (min-width: 1024px) {
  .desktop {
    display: initial;
  }
}
@media screen and (max-width: 1024px) and (min-width: 840px) {
  .laptop {
    display: initial;
  }
}
@media screen and (max-width: 840px) and (min-width: 540px) {
  .tablet {
    display: initial;
  }
}
@media screen and (max-width: 540px) {
  .phone {
    display: initial;
  }
}
#topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #333333;
  z-index: 10;
}
#topbar .ui.menu {
  margin-bottom: 0;
}
#topbar .ui.menu .item {
  font-size: 1rem;
}
#topbar .ui.menu .item .avatar.image {
  margin-top: -0.8em;
  margin-bottom: -0.8em;
}
#topbar .ui.menu .logo.image {
  height: 1rem;
  display: inline;
}

#bottombar {
  background-color: #333333;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.dropdown {
  z-index: 5;
}
.dropdown .menu {
  margin-bottom: 3rem;
}

#content {
  padding: 3rem 0 5rem 0;
}
#content .product .right.label .icon {
  margin: 0 0 0 0.5em;
}
#content .product .image {
  height: 10rem;
  overflow: hidden;
}
#content .product .header {
  margin-top: 0;
}
#content .product .header .label {
  position: relative;
  top: -0.17rem;
}
#content .product .header .label .icon {
  margin: 0;
}
#content .product .number {
  margin: 0 0.5rem;
}
#content .product .price {
  font-size: 1.5em;
  color: blue;
}
#content .product .amount {
  font-size: 1.2em;
  color: green;
}
#content .receipt .image {
  max-height: 10rem;
  overflow: hidden;
}
#content .receipt .ui.list {
  margin-top: 0;
}
#content .receipt .title {
  margin-top: 1rem;
  margin-bottom: 0;
  border-bottom: 1px #999999 solid;
  font-weight: bold;
  padding: 0.3em 0;
}
#content .receipt .item:first-child {
  padding-top: 0.3em;
}
#content .receipt .item:last-child {
  padding-bottom: 0.3em;
}
#content .receipt .active.item {
  background-color: rgba(255, 165, 0, 0.1);
}

#header {
  height: 10rem;
  margin-top: 2.6rem;
  position: relative;
  background: url(http://static.ettoday.net/images/173/d173736.jpg) repeat-x center bottom, #666666;
}
#header .background {
  text-overflow: clip;
  white-space: nowrap;
  text-align: center;
}
#header .background .image {
  height: 10rem;
  display: inline;
}
#header .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.5));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.5));
}
#header .cover .content {
  text-align: center;
}
#header .cover .content h1 {
  margin: 3rem 0 1rem 1rem;
  font-size: 3rem;
  letter-spacing: 0.3em;
}

#nav {
  background-color: #cccccc;
}
#nav .category {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}

#action {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}
#action .item .key {
  float: left;
}
#action .item .value {
  margin-left: 4rem;
  padding-top: 0.3em;
}

#meta {
  padding-bottom: 4rem;
}
#meta .image .top.label {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#meta .label .icon:last-child {
  margin: 0 0 0 0.75em;
}
#meta .label .icon:first-child {
  margin: 0 0.75em 0 0;
}

#log {
  padding-top: 1.2rem;
  padding-bottom: 4rem;
}
#log .header {
  font-size: 1.2rem;
}
#log .timestamp {
  font-size: 1rem;
}
#log .timestamp .number {
  margin: 0 0.1rem;
}
